:root {
  --primary-color: rgb(31, 3, 43);
  ;
  --text-color: rgb(14, 13, 13);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;

}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}



body.darkmode {

  background-color: rgb(17, 4, 32);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#username {
  color: rgb(255 255 255);
  position: absolute;
  right: 2px;
  top: 1.7rem;
  right: 10rem;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.player {
  position: relative;
  max-width: 480px;
  margin: 0 auto;
}

.player .icon-pause {
  display: none;
}

.player.playing .icon-pause {
  display: inline-block;
}

.player.playing .icon-play {
  display: none;
}




/* HEADER */
header {
  text-align: center;
  margin-bottom: 10px;

}

header h4 {
  color: var(--primary-color);
  font-size: 12px;

}

header h2 {
  color: var(--text-color);
  font-size: 20px;
}

/* CD */
.cd {
  display: flex;
  margin: auto;
  width: 200px;

}

.cd-thumb {
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  background-color: #333;
  background-size: cover;
  margin: auto;

}

/* CONTROL */
.control {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 22px 2px 14px 7.5%
}

.control-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2px 0px 0px 21.5%;
  margin-right: 200px;
}


.control.hidden {
  display: none;
}

/* .control-footer.hidden {
  display: none;
} */

.control .btn {
  color: rgb(73, 10, 124);
  padding: 18px;
  font-size: 18px;
}

.control-footer .btn {
  color: rgb(73, 10, 124);
  padding: 18px;
  font-size: 18px;
}

.control .btn.active {
  color: rgb(250, 53, 201)
}

.control-footer .btn.active {
  color: rgb(250, 53, 201)
}

.control .btn-toggle-play {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}
.control-footer .btn-toggle-play-ft {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}

.form-range {
  width: 100%;
  -webkit-appearance: none;
  height: 9px;
  background: #e4d7f3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;

}

.form-range:-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 9px;
  background-color: var(--primary-color);
  cursor: pointer;
}

/* PLAYLIST */
.playlist {
  position: inherit;
  margin-top: 489px;
  padding: 12px;
  background-image: url(../../assets/img/background-lightmode.jpg);
  padding-top: 1%;
  height: auto;
}

.playlist.darkmode {
  position: inherit;
  margin-top: 489px;
  padding: 12px;
  background-image: url("../../assets/img/background-darkmode.jpg");
  padding-top: 1%;
  height: auto;
}


.song {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  background-color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.song:hover {
  background-color: rgb(244, 229, 247);
}

.song.darkmode {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  background-color: rgb(37, 20, 44);
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.song.active {
  background-color: var(--primary-color);
}

.song:active {
  opacity: 0.8;
}

.song.active .option,
.song.active .author,
.song.active .title {
  color: rgb(10, 250, 230);
}

.song .thumb {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-size: cover;
  margin: 0 8px;
}

.song .body {
  flex: 1;
  padding: 0 16px;

}

.song .title {
  font-size: 18px;
  color: var(--text-color);
}

.song .author {
  font-size: 12px;
  color: #999;
}

.song .option {
  padding: 16px 8px;
  color: #999;
  font-size: 18px;
}

.time-progress {
  text-align: center;
  width: 100%;

}

footer {
  border-radius: 5px;
  height: 6.6rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(37, 20, 44);
  color: white;
  text-align: center;
}

.btn-ft {
  background-color: rgb(37, 20, 44);
  border: none;
  /* Remove borders */
  color: rgb(226, 236, 226);
  /* White text */
  padding: 12px 16px;
  /* Some padding */
  font-size: 16px;
  /* Set a font size */
  cursor: pointer;
  /* Mouse pointer on hover */
  height: 3rem;
  width: 5.2rem;
}

/* Darker background on mouse-over */
.btn-ft:hover {
  background-color: RoyalBlue;
}

p {
  font-size: 80%;
}

.switch {
  top: 0.6px;
  right: 0.2px;
  position: relative;
  display: inline-block;
  width: 59 px;
  height: 34px;
  color: rgb(221, 63, 241)
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;

}



/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 24px;
  left: 2px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch {
  position: absolute;
  right: 12.8px;
  display: inline-block;
  width: 43px;
  height: 15px;
}

/* Hide default HTML checkbox */
.switch input {
  position: relative;
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.dashboard.darkmode {
  --text-color: white;
  padding: 16px 16px 20px;
  background-color: rgb(37, 20, 44);
  position: fixed;
  top: 6.7%;
  width: 100%;
  max-width: 480px;
  border-bottom: 1px solid rgb(235 235 235);
  border-radius: 6px
}

.dashboard {
  padding: 16px 16px 20px;
  background-color: rgb(247, 248, 248);
  position: fixed;
  top: 6.7%;
  width: 100%;
  max-width: 480px;
  border-bottom: 1px solid rgb(235 235 235);
  border-radius: 6px
}

.btn-next.darkmode {
  color: white
}

.btn-prev.darkmode {
  color: white
}

.btn-random.darkmode {
  color: white;

}

.btn-repeat.darkmode {
  color: white
}

.btn-like.darkmode {
  color: white;

}

.control .btn-toggle-play.darkmode {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  font-size: 24px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white
}

.logout {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  background-color: rgb(226, 228, 243);
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.logout:hover {
  background-color: #1e293b;
  color: #fff;
}

@media (min-width: 768px) {
  .logout {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}

.sidenav {
  height: 96.5%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: -25px;
  left: 0;
  background-color: rgb(17, 4, 32);
  background-image: linear-gradient(rgb(65, 35, 104), rgb(38, 89, 112));
  overflow-x: hidden;
  /* transition: 0.5s; */
  padding-top: 60px;
  transition: width 0.2s;
}

.sidenav-right {
  height: 93.5%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(44, 7, 85);
  overflow-x: hidden;
  transition: 1s;
  padding-top: 60px;
}

.sidenav a {
  padding: 15px 3px 13px 90px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  margin-top: -17px;
  margin-left: -15%;
  height: auto;

}

.sidenav h2 {
  margin-left: 5%;
  /* transition: 1s; */
}

.sidenav a:hover {
  background-color: rgb(132, 113, 155);
}



@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.popular {
  color: white;
  margin-left: 7%;
  padding-top: 5%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#popular-song {
  font-size: 18px;
  margin-left: 11%;
  padding-top: 3%;
}

.banner {
  color: white;
  height: 6%;
  position: fixed;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  /* box- sizing: border-box; */
  background: rgb(31, 3, 43);
}




.icon-size {
  font-size: 1rem;
  position: absolute;
  right: 8.8rem;
  bottom: 3.8rem;
}

.bar-hoverbox {
  padding: 9px 15px;
  opacity: 1;
  transition: opacity .2s;
  position: absolute;
  right: 0px;
  bottom: 3.5rem;

}

.bar {
  background: rgb(229, 225, 238);
  height: 10px;
  width: 120px;
  border-radius: 15px;
  overflow: hidden;
  pointer-events: none;
}

.bar-fill {
  background: rgb(193, 88, 238);
  width: 0%;
  height: 100%;
  background-clip: border-box;
  pointer-events: none;
}



.bar-hoverbox {
  padding: 9px 15px;
  opacity: 1;
  transition: opacity .2s;
  position: absolute;
  right: 0px;
  bottom: 3.5rem;
}

.volume {
  height: 10px;
  width: 5%;
  position: absolute;
  background-color: rgb(221 221 221);
  right: 21px;
  top: 0.25rem;
}

.fa-volume-up{
  margin-left: 85%;
 position: relative;
 top: -53.6px;
 }

.volume-slider {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: rgb(217, 44, 240);
 margin-left: 0px;
}