<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>INDEX</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
    crossorigin="anonymous" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../assets/css/music.css">
<div class="player" >
    <!-- Dashboard -->
    <div class="dashboard">
        <!-- Header -->
        <header>
            <h2>Music App</h2>
        </header>
    </div>

    <body>
        <!-- Playlist -->
        <div class="playlist" style="margin-top: 70px; margin-bottom: 50px;">
            <!-- ... -->
        </div>
        <footer>
            <button class="btn-ft"><i class="fa fa-home"></i></button>
            <button class="btn-ft">
                <i class="fas fa-music fa-inverse"></i>
            </button>
            <button class="btn-ft"><i class="fas fa-search"></i></button>
            <button class="btn-ft"><i class="fas fa-bars"></i></button>
        </footer>
</div>
</body>


<script src="../controller/menu.js"></script>